.scratch/
*.o
*.a

/nextufs/nextufs_probe
/nextufs/nextufs_fuse
/nextufs/nextufs_test
/nextufs/nextufs_mkfile
/fsck/fsck_probe
/fsck/fsck_next
/mkfs/mkfs_next

/fsck/.build-next/

/nextufs/openstep42-base.raw
/nextufs/openstep42-base.vdi
/fsck/openstep42-base.raw
/CONTINUATION.md
